<div class="row">
    <div class="col-xs-12">
        <!-- FEATURED-PRODUCTS-AREA START -->
        <div class="featured-products-area">
            <div class="left-title-area">
                <h2 class="left-title">Featured Products</h2>
            </div>
            <div class="row">
                <!-- FEARTURED-CAROUSEL START -->
                <div class="feartured-carousel">
                    <!-- SINGLE ITEM START -->
                    @for (int i = 1; i <= 20; i++)
                    {
                        <div class="item">
                            <!-- SINGLE-PRODUCT-ITEM START -->
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="#"><img src="~/user/img/product/sale/3.jpg" alt="product-image" /></a>
                                    <a href="#" class="new-mark-box">new</a>
                                    <div class="overlay-content">
                                        <ul>
                                            <li><a href="#" title="Quick view"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="customar-comments-box">
                                        <div class="rating-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-empty"></i>
                                        </div>
                                        <div class="review-box">
                                            <span>1 Review(s)</span>
                                        </div>
                                    </div>
                                    <a href="single-product.html">Faded Short Sleeves T-shirt</a>
                                    <div class="price-box">
                                        <span class="price">$16.51</span>
                                    </div>
                                </div>
                            </div>
                            <!-- SINGLE-PRODUCT-ITEM END -->
                            <!-- SINGLE-PRODUCT-ITEM START -->
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="#"><img src="~/user/img/product/sale/1.jpg" alt="product-image" /></a>
                                    <a href="#" class="new-mark-box">sale!</a>
                                    <div class="overlay-content">
                                        <ul>
                                            <li><a href="#" title="Quick view"><i class="fa fa-search"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-shopping-cart"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#" title="Quick view"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-info">
                                    <div class="customar-comments-box">
                                        <div class="rating-box">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="review-box">
                                            <span>1 Review(s)</span>
                                        </div>
                                    </div>
                                    <a href="single-product.html">Blouse</a>
                                    <div class="price-box">
                                        <span class="price">$22.95</span>
                                        <span class="old-price">$27.00</span>
                                    </div>
                                </div>
                            </div>
                            <!-- SINGLE-PRODUCT-ITEM END -->
                        </div>
                    }
                </div>
                <!-- FEARTURED-CAROUSEL END -->
            </div>
        </div>
        <!-- FEATURED-PRODUCTS-AREA END -->
    </div>
</div>