
@{ 
    Layout = Layout = "~/Views/Shared/_Access.cshtml";
}
<section>
    <div class="text-center">
        <img src="~/user/img/acess.jpg" style="height:300px; width:300px" />
    </div>
</section>